.footer {
    position: absolute;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #204051;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.footer__left {
    text-align: left;
}

.footer__right {
    text-align: left;   
    display: flex;
    align-items: center;
}

p {
    color: white;
}